<%= form_for @project do |f| %>
	<% if @project.errors.any? %>
		<h2><%= pluralize(@project.errors.count, "erro") %> preveniram esta galeria ou evento de salvar:</h2>
		<ul>
			<% @project.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end%>
		</ul>
	<% end%>

	<%= f.label :titulo %><br>
	<%= f.text_field :title %>
	
	<br>
	<br>
		
	<%= f.label :descrição %><br>
	<%= f.text_area :description %>
	
	<br>
	<br>
	
	<%= f.label :link %><br>
	<%= f.text_field :link %>
	
	<br>
	<br>
	
	<%= f.submit %>

<% end %>