<%= form_for @post do |f| %>
	<% if @post.errors.any? %>
		<h2><%= pluralize(@post.errors.count, "erro") %> preveniram este diário de salvar:</h2>
		<ul>
			<% @post.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end%>
		</ul>
	<% end%>

	<%= f.label :image %>
	<%= f.file_field :image %>
	
	<br>
	
	<%= f.label :titulo %><br>
	<%= f.text_field :title %>
	
	<br>
	<br>
		
	<%= f.label :content, "Escreva seu diário aqui" %><br>
	<%= f.text_area :content %>
	
	<br>
	<br>
	
	<%= f.submit %>

<% end %>