<!DOCTYPE html>
<html>
<head>
	<title>Blog SOFIANOMUNDO</title>
	<link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<header id="main_navigation" class="clearfix">
		<%= link_to "SOFIANOMUNDO", root_path, class: "name" %>
		<nav>
			<%= link_to "Diário de Bordo", posts_path %>
			<%= link_to "Galerias e Eventos", projects_path %>
			<%= link_to "Contato", new_contact_path %>
			<% if user_signed_in? %>
				<%= link_to "Sair", destroy_user_session_path, method: :delete %>
			<% end %>
		</nav>
	</header>
	
	<% if notice %>
		<p class="notice"><%= notice %></p>
	<% elsif alert %>
    	<p class="alert"><%= alert %></p>
    <% end %>

	<%= yield %>

	<footer id="main_footer">
		<p class="copyright">&copy;2016 Daniel Barboni</p>
		<nav>
			<a href="https://twitter.com/sofianomundo" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
			<a href="https://www.flickr.com/photos/143853485@N05/albums/72157666689546484" target="_blank"><i class="fa fa-flickr" aria-hidden="true"></i></a>
			<a href="http://www.instagram.com/sofianomundo" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
			<a href="https://br.pinterest.com/sofia_pellizzar/beb%C3%AA-fofura/?etslf=8746&eq=Beb%C3%AA%20fofura" target="_blank"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
		</nav>
	</footer>
</body>
</html>
